<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    body,
    html,
    #allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        font-family: "微软雅黑";
    }
    
    .back {
        color: white;
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: block;
        padding: 0 1rem;
        height: 2.6rem;
        line-height: 2.6rem;
        text-align: center;
        z-index: 1000;
        border-radius: 0.5rem;
        text-decoration: none;
        background-color: rgba(16, 114, 239, 0.8);
    }

    .baidumap {
        position: fixed;
        bottom: 1rem;
        right: -1.8rem;
        display: block;
        z-index: 1000;
    }
    </style>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=CCcf0ab10b51b1f0e900bc6ff14f3d3a&v=1.0"></script>-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=CCcf0ab10b51b1f0e900bc6ff14f3d3a"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <script src="../skins/js/function.js"></script>
    <script src="../skins/js/jquery-2.1.1.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
    <a class="back" href="javascript:history.go(-1);">返回</a>
    <a id="baidumap" class="baidumap" ><img src="../skins/images/mapIcon.png" width="60%"></a>
    <div id="allmap"></div>
</body>

</html>
<script type="text/javascript">

    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxa288ea63f4c9c3be',
        nonceStr: '0bba4t1qgmyc18u',
        timestamp: 1468936456,
        signature: 'ae1552fd6a4c1c27de911215504f61c32cb05c55',
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQZone',
            'openLocation',
            'getLocation'
        ]
    });
    wx.checkJsApi({
        jsApiList: ['openLocation'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
        success: function(res) {
            // 以键值对的形式返回，可用的api值true，不可用为false
            // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
        }
    });

//获取坐标系
var mapJson = [];
if (getQueryString('routes') != null)
    mapJson = getQueryString('routes').split('|');
var mapLoction = getQueryString('location');
var title = getQueryString('title');
var mapGps = toBPoint(mapLoction);
if (mapGps == null){
    $('#baidumap').hide();
}

var map = new BMap.Map("allmap");
map.centerAndZoom(new BMap.Point(115.880245, 40.150255), 100);
if (mapGps == null){
    map.addControl(new BMap.NavigationControl({offset: new BMap.Size(30, 30)})); // 添加平移缩放控件

} else {
    map.addControl(new BMap.NavigationControl({offset: new BMap.Size(30, 100)})); // 添加平移缩放控件
}
map.addControl(new BMap.ScaleControl()); // 添加比例尺控件
map.addControl(new BMap.OverviewMapControl({isOpen:true,anchor:BMAP_ANCHOR_BOTTOM_LEFT})); //添加缩略地图控件
//{isOpen:true,anchor:BMAP_ANCHOR_BOTTOM_LEFT}

//循环出坐标线路
var myP = [];
var _point = [];
var _ViewportArr = [];
for (var i = 0, len = (mapJson.length ); i < len; i++) {
    _point = mapJson[i].split(',');
    myP[i] = new BMap.Point(_point[0], _point[1]);
}

function toBPoint(gpsLocation){
    if (gpsLocation == null || gpsLocation == "")
        return null;
    var _point = [];
    _point = gpsLocation.split(',');
    return new BMap.Point(_point[0], _point[1]);
}

//var myP1 = new BMap.Point(106.521436,29.532288);    //起点-重庆
//var myP2 = new BMap.Point(108.983569,34.285675);    //终点-西安
//var myP3 = new BMap.Point(116.404449,39.920423);    //终点-北京

window.onload = function() {
    // map.clearOverlays();                        //清除地图上所有的覆盖物
    var driving = new BMap.DrivingRoute(map); //创建驾车实例
    //    driving.search(myP1, myP2);                 //第一个驾车搜索
    //    driving.search(myP2, myP3);                 //第二个驾车搜索

    //绘线
    for (var i = 0, len = mapJson.length - 1; i < len; i++) {
        driving.search(myP[i], myP[(i + 1)]);
        _ViewportArr.push(myP[i]);
    }
    _ViewportArr.push(myP[mapJson.length-1]);


    // 绘制 开始,结束点
    var startLoc = _ViewportArr[0];
    var endLoc = _ViewportArr[_ViewportArr.length - 1];
    var routeStart = new BMap.Icon("../skins/images/route_start.png", new BMap.Size(38,60));
    var routeEnd = new BMap.Icon("../skins/images/route_end.png", new BMap.Size(38,60));

    var startMarker = new BMap.Marker(startLoc,{icon:routeStart,width:'50%'});
    var endMarker = new BMap.Marker(endLoc,{icon:routeEnd});
//    map.addOverlay(startMarker);
//    map.addOverlay(endMarker);

    /*  driving.search(myP1, myP2);
      driving.search(myP2, myP3);
      driving.search(myP3, myP4);*/

    driving.setSearchCompleteCallback(function() {
        var pts = driving.getResults().getPlan(0).getRoute(0).getPath(); //通过驾车实例，获得一系列点的数组

        var polyline = new BMap.Polyline(pts
                , {
            strokeColor: "#00BD00",
            strokeWeight: 4,
            strokeOpacity: 1
        }
        );
        map.addOverlay(polyline);



        //调整到最佳视野
        setTimeout(function() {
            map.setViewport(_ViewportArr);
        }, 500);

    });

    /*信息窗口*/
    if(mapLoction != null && mapLoction != 'undefined' && mapLoction != ''){
        var marker = new BMap.Marker(mapGps); // 创建标注
        map.addOverlay(marker);

        _ViewportArr.push(mapGps);

        setTimeout(function() {
            map.setViewport(_ViewportArr);
        }, 500);
//        var infoWindow = new BMap.InfoWindow(sContent, opts); // 创建信息窗口对象
//        map.openInfoWindow(infoWindow); // 打开信息窗口
        var redirectMap = "http://api.map.baidu.com/marker?output=html&title=目的地&from=place&vt=map&traffic=off&evtson=off&qt=nav&location=" + mapGps.lat + "," + mapGps.lng;
        $('#baidumap').attr('href',redirectMap);
        marker.addEventListener("click", function() {
//            searchInfoWindow1.open(mapGps);


//            var start = {
//                latlng:mapGps
//            }
//            var end = {
//                latlng:mapGps
//            }
//            var opts = {
//                mode:BMAP_MODE_DRIVING,//公交、驾车、导航均修改该参数
//                region:"北京"
//            }
//            var ss = new BMap.RouteSearch();
//            ss.routeCall(start,end,opts);

//            window.location = "http://api.map.baidu.com/direction?origin=latlng:34.264642646862,108.95108518068|name:我家&destination=" + mapLoction + "&mode=driving&output=html";
            WeixinJSBridge.invoke("openLocation",{
                       "latitude" : mapGps.lat, //纬度
                           "longitude" : mapGps.lng, //经度
                           "name" : title, //POI名称
//                           "address" : "广州市海珠区新港中路397号", //地址
                           "scale" : 12, //地图缩放级别
//                           "infoUrl" : "http://weixin.qq.com/", //查看位置界面底部的超链接
                           },
                   function(e){
                           alert(e.err_msg)
                       })
//            window.location = "baidumap://map/marker?location=40.047669,116.313082";
//                    "http://api.map.baidu.com/marker?output=html&title=目的地&from=place&vt=map&traffic=off&evtson=off&qt=nav&location=" + mapGps.lat + "," + mapGps.lng;
//            this.openInfoWindow(infoWindow);
            //图片加载完毕重绘infowindow
//            document.getElementById('imgDemo').onload = function() {
//                infoWindow.redraw(); //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
//            }
        });
    }
    /*信息窗口 结束*/
}


//
//获取指定URL参数的值
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return (r[2]);
    return null;
}
</script>
