{%
	if(it.success){
		if(it.data.length>0){
			var idl = it.data[0];
%}
	<header>
			<h1>{%=idl.title%}</h1>
			<p>{%=idl.create_time%}</p>
			<aside>{%=idl.summary%}</aside>
		</header>
		<section class="mainRoute">
			<h2>线路总览</h2>
			<div>
				<a href='../views/map.html?routes={%=setLocationFun(idl.locationAll)%}'>
				<img src="{%=repPath(idl.main_route.img_url,getQueryString('id'))%}" width="100%" >
				</a>
				<p>{%=idl.main_route.description%}</p>
			</div>
		</section>
		{%
			if(idl.video_url != '' && idl.video_url != null){
		%}
		<section class="video">
			<div>
				<video width="100%" height="auto" controls>
				  <source src="{%=repPath(idl.video_url,getQueryString('id'))%}" type="video/mp4">
				   Your browser does'nt support video embedding feature.
				</video>
			</div>
		</section>
		{%
			}
		%}
		<section class="referrer">
			<h2>线路推荐人</h2>
			<div>
				<img src="{%=repPath(idl.referrer.img_url,getQueryString('id'))%}" width="100%">
				<p><strong>推荐人：{%=idl.referrer.name%}</strong></p>
				<p>{%=idl.referrer.description%}</p>
			</div>
		</section>
		<div class="scenery">
			<section class="photos">
			{%
				var idp;
				for(var i = 0,len = idl.photos.length; i < len; i++){
					idp = idl.photos[i];
			%}
				<h3>{%=idp.title%}</h3>
				<div>
					<p><strong>类型：</strong>{%=idp.type%}　　<strong>坐标：</strong>{%=idp.location%}</p>
					<p><strong>区域：</strong>{%=idp.area%}</p>
					<p>{%=idp.description%}</p>
				</div>
				<div class="oh">
					<a class="showSceneryBtn" href="javascript:void(0);" rel-group="{%=i%}"><img src="{%=repPath(it.data[0].photos[i].images[0],getQueryString('id')) %}" width="100%"></a>
				</div>			
			{%
				}
			%}
            </section>
		</div>
		<p>关注大话机车！关注骑行生活！（欢迎转载，请注明出处！）</p>
		<img data-s="300,640" data-type="jpeg" data-src="http://mmbiz.qpic.cn/mmbiz/C8bxpDvMMKmZhiafVlAGEHq2uATBDD3GhKdq1fRiaK3e2ibMyGPtqibKVkRNbqw8tUUEuyGw1iaufdGbsph8P60EuvQ/0?wx_fmt=jpeg" data-ratio="0.4712230215827338" data-w="" src="http://mmbiz.qpic.cn/mmbiz/C8bxpDvMMKmZhiafVlAGEHq2uATBDD3GhKdq1fRiaK3e2ibMyGPtqibKVkRNbqw8tUUEuyGw1iaufdGbsph8P60EuvQ/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" style="width: auto !important; visibility: visible !important; height: auto !important;">
{%
		}else{
%}
	暂无
{%
		}
	}
%}