{%
	if(it.success){
		if(it.data.length>0){
			var idl = it.data[0];
			document.title = idl.title;
%}
	<header>
			<h1>{%=idl.title%}</h1>
			<p>{%=idl.create_time%}</p>
			<aside>{%=idl.summary%}</aside>
		</header>
		<img src="../skins/images/top.jpg" width="100%"/>
		<section class="mainRoute">
			<h2>线路总览</h2>
			<div>

				<img src="{%=repPath(idl.main_route.img_url,getQueryString('id'))%}" width="100%" >
				<p>{%=idl.main_route.description%}</p>
				<a href='../views/map.html?routes={%=setLocationFun(idl.locationAll)%}'>
					<img src="../skins/images/fullmap_btn.png" width="100%"/>
				</a>

			</div>
		</section>
		{%
			if(idl.video_url != '' && idl.video_url != null){
		%}
		<section class="video">
			<div>
				<!--<video width="100%" height="auto" controls>-->
				  <!--<source src="http://static.video.qq.com/TPout.swf?vid=d0309j1raz2&auto=1&outhost=http://cf.qq.com/" type="video/mp4">-->
				  <!--&lt;!&ndash;<source src="{%=repPath(idl.video_url,getQueryString('id'))%}" type="video/mp4">&ndash;&gt;-->
				   <!--Your browser does'nt support video embedding feature.-->
				<!--</video>-->
				<!--<embed src="http://static.video.qq.com/TPout.swf?vid=d0309j1raz2&auto=1&outhost=http://cf.qq.com/" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>-->
				<!--http://v.qq.com/iframe/player.html?vid=d0309j1raz2&auto=0-->
				<iframe class="video_iframe" style="z-index:1;" src="{%=idl.video_url%}" allowfullscreen="" frameborder="0" height="260" width="100%"></iframe>
			</div>
		</section>
		{%
			}
		%}
		<section class="referrer">
			<h2>线路推荐人</h2>
			<div>
				<!--<a href="baidumap://map/marker?location=40.047669,116.313082&title=我的位置&content=百度奎科大厦&mode=driving&region=北京&waypoints=116.099213,39.956721|115.880245,40.150255">-->
				<img src="{%=repPath(idl.referrer.img_url,getQueryString('id'))%}" width="100%">
				<!--<a href="{%=idl.referrer.bio%}"><img src="{%=repPath(idl.referrer.img_url,getQueryString('id'))%}" width="100%">-->
				</a>
				<!--<p><strong>推荐人：{%=idl.referrer.name%}</strong></p>-->
				<p>{%=idl.referrer.description%}</p>
				<a href="{%=idl.referrer.bio%}"><img src="../skins/images/bio_btn.jpg" width="100%"/></a>
			</div>
		</section>
		<div class="scenery">
			<section class="photos">
			{%
				var idp;
				for(var i = 0,len = idl.photos.length; i < len; i++){
					idp = idl.photos[i];
			%}
				{% if ( idp.title != null) { %}
				 <h3><img src="../skins/images/{%=idl.photos[i].type%}.png">{%=idp.title%}</h3>
				{% } %}
				<!--<div>-->
					<!--<p><strong>类型：</strong>{%=idp.type%}　　<strong>坐标：</strong>{%=idp.location%}</p>-->
					<!--<p><strong>区域：</strong>{%=idp.area%}</p>-->
				{% if ( idp.description != null) { %}
					<p>{%=idp.description%}</p>
				{% } %}
				<!--</div>-->
				<div class="oh">
					<!--<a class="showSceneryBtn" href="javascript:void(0);" rel-group="{%=i%}"><img src="{%=repPath(it.data[0].photos[i].images[0],getQueryString('id')) %}" width="100%"></a>-->
					{% if ( it.data[0].photos[i].images[0] != "" ) {%}
					{% for (var j = 0;  j < it.data[0].photos[i].images.length ; j++) { %}
						<!---->
						<img src="{%=repPath(it.data[0].photos[i].images[j],getQueryString('id')) %}" width="100%">
					{% }}%}

					{% if (idp.location != null) { %}
						<a href="map.html?routes={%=setLocationFun(idl.locationAll)%}&amp;location={%=idp.location%}"><img src="../skins/images/route_btn.jpg" width="100%"/></a>
					{% } %}
				</div>

			{%
				}
			%}
            </section>
		</div>
		<p>关注大话机车！关注骑行生活！（欢迎转载，请注明出处！）</p>
		<img src="../skins/images/bottom.jpg" width="100%"/>
{%
		}else{
%}
	暂无
{%
		}
	}
%}